<!DOCTYPE html>
<html lang="en" xmlns:tencent="http://www.w3.org/1999/xhtml">
<head>
<title>Dream</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link rel="icon" href="public/images/tulis.jpg" type="image/gif">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="public/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<!--web-fonts-->
<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800" rel="stylesheet">
<!--<link href="http://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">-->
<link rel="stylesheet" href="public/css/flexslider.css" type="text/css" media="screen" />
<link href="public/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link href="public/css/owl.carousel.css" rel="stylesheet">
<link href="public/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="public/css/lightbox.css">
<!--//web-fonts-->
<!--//fonts-->
<!-- js -->
</head>
<body>
<!--banner-->
	 <header class="header" id="header">
    <div class="skew">
	<div class="container">
        <div class="header-inner">
          <h1 class="logo">
            <a href="index.html"><span>Dream</span> Decor</a></h1>
			<div class="subscribe">
                            <form action="#" method="post">
                                <input type="search" class="sub-email" name="Search" required="" />
								<input type="submit" value="">
                            </form>
                        </div>
        </div>
	<!-- header -->
		<div class="header">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="index.html" class="active">温馨之家</a></li>
							<li><a href="#about" class="scroll">设计理念</a></li>
							<li><a href="#testimonials" class="scroll">设计专家</a></li>
							<li><a href="#gallery" class="scroll">图片展示</a></li>
							<li><a href="#blog" class="scroll">装修案例</a></li>
							<li><a href="#contact" class="scroll">联系方式</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>	
				</nav>
		</div>
		<!-- //header -->
		</div>
    </div>
  </header>
  <!-- //header -->
  <section class="se-container">
<div class="se-slope banner-w3" id="service">
	   <article class="se-content service">
  
  
  
<div class="banner-section">
<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<div class="slider-info">
							<img src="public/images/ba1.jpg" class="img-responsive" alt="">
						</div>
						<div class="container">
							<div class="banner-text">
								<h3>DESIGN AND REALIZATION OF THE INTERIOR DESIGN</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<img src="public/images/ba2.jpg" class="img-responsive" alt="">
						</div>
						<div class="container">
							<div class="banner-text">
								<h3>SPLENDID INTERIOR DESIGN FOR EVERYONE</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<img src="public/images/ba3.jpg" class="img-responsive" alt="">
						</div>
						<div class="container">
							<div class="banner-text">
								<h3> LET US CREATE A BRAND NEW INTERIOR</h3>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
			
			<!-- slider -->
	</div>
	</article>
</div>
	<!--//banner-->
<!--welcome-section-->
<div class="se-slope welcome" id="class">
			<article class="se-content">
			<div class="welcome-info">
		    <div class="container">
				<div class=" col-md-6 wlcm-left-agile">
					<h3 class="title">Welcome<br><span>to our Dream Decor</span></h3>
					<p>美一个房子，美一个家；以精心为创，以品质为美；我们秉承空间是你的，创意是我的，用我的创意来美化你的空间；用心设计合理施工，打造非凡环境享受，美饰万家，点靓生活，选择Dream，畅享好生活</p>
				</div>
				<div class=" col-md-6 wlcm-right-agileits">
					<h3  class="title">OneDream<br><span>design</span></h3>
					<!--<div class="wlcm1-w3l">-->
					<!--</div>-->
					<div class="wlcm2-w3l">
						<p>让灵感自由释放，创造一个心灵渴望的空间，找Dream，用心装饰品质生活，给家不同的品味</p>
						<p class="sub"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>河南省洛阳市南柯一梦装修有限公司</p>
						<p class="sub"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>全天24小时服务</p>
					</div>
				</div>
			</div>
			</div>
	</article>
</div>
<!--//welcome-section-->
<!--about-section-->
<div class="se-slope about" id="about">
		<article class="se-content">
		<div class="container">
				<div class="col-md-5 about-info-w3">
				<h3 class="title">设计理念<br><span></span></h3>
					<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;住宅室内设计不是一味追求视觉享受的艺术创作，一套好的家居
						设计一定承载着健康、美好的生活态度。
						好的设计应该能与生活完美结合，让生活更有质感。</p></br>
					<p>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于一套住宅来说，"安全"是根本，居住安全不仅包括避免结构破坏、保证用料环保、适合老人儿童特点等人身安全，从空间大小、气氛元素运用到家具及软装饰摆放，如设置进门玄关保护入户后的公共空间的私密性，巧妙分隔大空间避免给人带来的空旷感等，都属于精神层面的安全规划，充分考虑到居住者的心理感受
						拥有丰富生活经验的统帅装饰设计师为了给业主更好的居住感受，会在"舒适"方面下很大的功夫，基于人体工程学原理的设计，运用各种中央集成智能家居手段，为业主打造更为体贴入微的居住环境。如进行厨房设计时考虑合理的作业流程和舒适的橱柜尺寸，采用中央新风系统创造自如畅快呼吸的地下室休闲空间等。
					</p></br>
					<p>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家居设计的最高境界是人与家居环境的和谐统一，将主人的性格特征、审美倾向、综合修养、人生阅历等充分地表达出来。当走进为学者型业主打造的书香之家，或者来到一家户外旅行爱好者极具异国风情的居住空间，一定能在第一瞬间感受到空间和主人紧密相连的独特魅力——"这才真是属于他的家"。统帅装饰设计师多年的艺术积淀和审美鉴赏，不仅能够满足业主个人最细微、最精致、最体贴的生活方式和内心情感需要，更可激发业主充分展现出强烈的个人特征和风度品位。
					</p>
					<ul class="social">
                            <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twt"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="gpls"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
				</div>
				<div class="col-md-7 about-img-w3-agileits">
					<!--responsive-tabs-->
					<div id="horizontalTab">
					<div class="resp-tabs-container">
					<div class="tab1">
						<img src="public/images/a11.jpg" alt="image" />
							<div class="clear"></div>
					</div>
					
					<div class="tab2">
					<div class="register">
					<img src="public/images/a22.jpg" alt="image" />
							</div>
					</div>
					<div class="tab3">
						<div class="reset">
						<img src="public/images/a33.jpg" alt="image" />
							</div>
					</div>
					<div class="tab4">
					<div class="main">
					<img src="public/images/a44.jpg" alt="image" />
					</div>
					</div>
					</div>
					<ul class="resp-tabs-list">
					<li><img src="public/images/a1.jpg" alt="image" /></li>
					<li><img src="public/images/a2.jpg" alt="image" /></li>
					<li><img src="public/images/a3.jpg" alt="image" /></li>
					<li><img src="public/images/a4.jpg" alt="image" /></li>
					</ul>
			</div>
	<!--//responsive-tabs-->		
				</div>
			<div class="clearfix"></div>	
		</div>
		</article>
	</div>
<!--//about-section-->
<!--testimonials-->
	<div class="se-slope testimonials" id="testimonials" >
		<article class="se-content">
			<div id="review" class="reviews">
		<div class="container">
		<h3 class="title">设计专家<br><span></span></h3>
				<div class="test-monials">
				<!--//screen-gallery-->
						<div class="sreen-gallery-cursual">
							
						       <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                	<div class="test-review">
										<p> 中央美术学院环境艺术设计
											设计理念：关注生活方式，以人为本打造高舒适度的居住环境
											经典案例： 誉品原墅、君悦湾、汤臣高尔夫、英庭名墅 诸子阶、香江别墅、当代MOMA、
											从业经验： 13 年 案例作品：38套
											擅长风格：现代简约、新中式、现代前卫、简欧</p>
										<div class="img-agile">
											<img src="public/images/t1.jpg" class="img-responsive" alt=""/>
											</div>

											<h4>Pablo</h4>
					                	    </div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										 <p> 学习经历：上海交通大学 环境艺术设计
											 设计理念：优雅中蕴藏着几分奢华，让精神和灵魂植入空间。
											 擅长风格：中式、现代、美式、欧式
											 经典案例：牡丹华庭、浅水湾、宝利.夜上海别墅、保利·大花园别墅、凤凰新城、皇家别墅、淀湖桃园别墅、镇江招商北固湾、浙江颐景园别墅、天润绿洲别墅、丰泽怡园样板间设计、蓝湾景天别墅等
											 从业经验： 10 年 案例作品：10套
											 擅长风格：现代简约、新中式、美式乡村、简欧</p>
										 <div class="img-agile">
											<img src="public/images/t2.jpg" class="img-responsive" alt=""/>
											</div>

										 <h4>Carmen</h4>
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										     <p>毕业院校&进修院校：上海应用技术学院 环境艺术设计专业
												 设计理念：设计来源于生活，设计改变生活。
												 擅长风格：现代简约 简美 新中式 新古典
												 经典案例：御华山 、五玠坊、 御翠豪庭 、世茂滨江 、万科翡翠公园 、海上传奇 、爱建园 、泰和红御
												 从业经验： 12 年 案例作品：11套
												 擅长风格：现代简约、新中式、新古典、美式乡村</p>
											 <div class="img-agile">
											<img src="public/images/t3.jpg" class="img-responsive" alt=""/>
											</div>

						                	<h4>Sergio</h4>
					                	</div>
					                </div>
				              </div>
						<!--//screen-gallery-->
					</div>
				</div>
			</div>
		</div>

		</article>
	</div>
	<!--//testimonials-->
	<!--gallery-->
		<div class="se-slope gallery" id="gallery">
			<article class="se-content">	
		<div class="container">
			<h3 class="title">Dream<br><span>设计装修真实展图</span></h3>
			<p class="galleryp">一个愉悦的空间、一种尊贵的生活、一方独享的天地，都在这里寻求最合适的表有效规划布局，合理使用空间，以小博大，画龙点睛，创造美味家居生活！让灵感自由释放，创造一个心灵渴望的空间</p>
			<div class="gallery-grids">				
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b1.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b1.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b2.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b2.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b3.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b3.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b4.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b4.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b5.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b5.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b6.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b6.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b7.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b7.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="col-md-3 port-grids view view-fourth">
					<a class="example-image-link" href="public/images/b8.jpg" data-lightbox="example-set" data-title="">
						<img src="public/images/b8.jpg" class="img-responsive" alt=""/>
						<div class="mask">
							<p>生活是创意的来源，创意源于文化，创意源于自己</p>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>	
				<script src="public/js/lightbox-plus-jquery.min.js"> </script>
			</div>				
		</div>
	</article>
	</div>
	<!--//gallery-->
	<!--blog-->
		<div class="se-slope blog" id="blog">
			<article class="se-content">
		    <!-- Start Fourth Section  | Demo 3 -->
			<div class="container">
      <div class="fourth-section-area">
        <h3 class="title">PRODUCTS<br><span> lOREM IPSUM HERE </span></h3>
        <!-- start single effect -->
        <div class="single-effect">
          <figure class="wpf-demo-3">
            <img src="public/images/blog1.jpg" alt="img"/>
            <figcaption class="view-caption">
              <h4>微于细节 贵于专业</h4>
            </figcaption>
          </figure>
        </div>
        <!-- start single effect -->
        <div class="single-effect">
          <figure class="wpf-demo-3">
           <img src="public/images/blog2.jpg" alt="img"/>
            <figcaption class="view-caption">
              <h4>微于细节 贵于专业</h4>
            </figcaption>
          </figure>
        </div>
        <!-- start single effect -->
        <div class="single-effect">
          <figure class="wpf-demo-3">
         <img src="public/images/blog3.jpg" alt="img"/>
            <figcaption class="view-caption">
           <h4>微于细节 贵于专业</h4>
            </figcaption>
          </figure>
        </div>
      </div>
	   </div>
	<div class="clearfix"> </div>	
	</article>
	</div>
	<!--//blog-->	
	<!--contact-->	
	<div class="se-slope contact" id="contact">
	<article class="se-content">
		<div class="container">
			<div class="col-md-6 contact-agileits-w3layouts-left">
				<h3 class="title">联系方式<br><span> CONTACT </span></h3>
				<p>设计完美空间，彰显精品居家，天工之作，品味之选</p>
				<p class="sub"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>河南省洛阳市南柯一梦装修有限公司</p>
				<p class="sub"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>全天24小时</p>
				<p class="sub"><span>电&nbsp;&nbsp;&nbsp;话:</span><a href="tel:152 36 3666 87" class="call" style="color: #222222">152 36 3666 87</a>&nbsp;&nbsp;&nbsp;<a href="tel:152 86888 303" class="call" style="color: #222222">152 86888 303</a></p>
				<p class="sub"><span>微&nbsp;&nbsp;&nbsp;信:</span>zhangyinan07 <span>&nbsp;&nbsp;&nbsp;QQ:</span><a href="tencent://message/?uin=243345816&amp;Menu=yes" style="color: #222222">243345816</a></p>
				<p class="sub"><span>联系人:</span>张经理</p>
				<p class="sub"><span>邮&nbsp;&nbsp;&nbsp;箱:</span><a class="mail" href="mailto:zhangyinan07@hotmail.com">zhangyinan07@hotmail.com</a></p>
				<p class="sub" style="color: #4e4d4d;font-size: 10px;"><span>注:</span>网站所做活动线下及时有效，最终解释权归本公司所有，未经允许私自使用追究其法律责任，本网站所有权为南柯一梦所有，详情请电话质询，谢谢配合</p>
			</div>
			<div class="col-md-6 contact-agileits-w3layouts-right">
				<iframe src="" ></iframe>
			</div>
		</div>
	</article>
	</div>
	<!--//contact-->
<!--footer-->	
	<div class="se-slope footer">
		<article class="se-content lost">
		<div class="container">
			<div class="col-md-4 foot footer1-w3-agile">
				<h2><span>Dream</span> Decor</h2>
			</div>
			<div class=" col-md-4 foot copyright-wthree">
				<p>Copyright&copy;2018.www.onedream.top All rights reserved.<a href="#">豫ICP备18008980号-1</a></p>
			</div>
			<div class="col-md-4 foot footer3-w3three">
				<ul class="social">
                    <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twt"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="gpls"><i class="fa fa-google-plus"></i></a></li>
                </ul>
			</div>
		</div>
		</article>
		</div>
</section>

<!--//Footer -->
	<a href="#header" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
		
<script type="text/javascript" src="public/js/jquery-2.1.4.min.js"></script>
<!-- FlexSlider -->
<!--responsive-tabs-script-->
  <script src="public/js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!--//responsive-tabs-script-->
<!-- required-js-files-->
							
							    <script src="public/js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
								 <!--//required-js-files-->
			<script defer src="public/js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(function(){
					});
					$(window).load(function(){
					$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
					});
					});
				</script>
			<!-- FlexSlider -->
								

<!-- start-smoth-scrolling -->
 
 

<!-- script-for-menu -->
					<script>					
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle("slow" , function(){
							});
						});
					</script>
					<!-- script-for-menu -->
					<!---->
					<script>

    $(function() {
      $('.adsense_btn_close').click(function() {
        $(this).closest('.adsense_fixed').css('display', 'none');
      });

      $('.adsense_btn_info').click(function() {
        if ($('.adsense_info_content').is(':visible')) {
          $('.adsense_info_content').css('display', 'none');
        } else {
          $('.adsense_info_content').css('display', 'block');
        }
      });

    });

  </script>
  <!-- start-smoth-scrolling -->
<script type="text/javascript" src="public/js/move-top.js"></script>
<script type="text/javascript" src="public/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<script type="text/javascript" src="public/js/bootstrap-3.1.1.min.js"></script>
<!--pop-up-box -->
					<script src="public/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<script>
					$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
					});

					});
					</script>
<!-- //pop-up-box -->

		
</body>
</html>